/*
. ...............  ......               ..  ....................::::::::::.
.                                                                ....    ..
. ........................ ..........................::..:..::::----==--::.
. ...................     .................::::....:..:::::::::-:---==+==+:
. .................   .:===:. ...............::-+-:...:::::::::-::---=+++*=
. ...............  :=*%#+--:.................. .:-==-.:--:::::::::-===+*##+
. :............  :*@@%*+=---=--:................ .:*%*-::-::::----=++++**#*
. :........... .+@@@@%*+==++++-...................  =@@#+=----======+++****
: :.......... :%@@@%%#*+======-....................  .%@*+=+=+*+++*+*+*****
: :..........+@@@%%%%#*#**+++=-......................  =##++++++***++++****
: :........ +@@%%%#######****=........................  +@*+++++***+++*+*#*
: ::...... :@@%%%%%%%%#####%#+.........................  %#=++++++*++**##%%
- .:....:.-@@@%%%%%%%%%#%%%%%*- ........................ *@=++++++**#%%@@@@
=::.......%@@%%%%%%####%%%%%%%+. ....................... -@*******##%@@@@@@
=:-:..:::=@@%%%%%%##%##%%%%%%@#:.....................:.. -@###%%%%@@%@@@@@@
+:::.:::::%@%%%%%%%#%####%%%%@#-. ...................... +@##%%@@@@%%%%@@@@
+=:::.:.::-@@%%%%%%%%%%##%%%%@%*-. ..................... *@#%%%%%@%%%%%%%@@
*+-:::-::-.*@%%%%%%%%%%%#%%#%%@%*-.  ...............  :. +@@%%%%%%%%%%%@%@%
*++-.:-=-- :@@%%%%######%%%##%#+===-.  ........    :*@@#.=@%%##%%%%%%%%@%@%
*+*=:::-==%#%%%%%%%##########%%%@#***:   ...-:.-#@@@@+.  +@%%%%%%%%%%%%%%@%
**#*:::::%@@%%%%%%%##%%######%###@@@@@*:.  .:--#@@@*=-.: +@%%%%%%%%%%%%%%@@
*+#*+-:.:#@@%%%%%%%###%%#####*+*++%@@@@@@*  . :@@%*..-:. =@%%%%%%%%%%%%%@@@
*=**#+-::.%@%%%%%%#########*#%#*+ -+%%%@@@: .  -+:    :. .@%%%%%%%%%%%%%@@@
*+**##+=: :@@%%%%%####%###%#*#+::::=%%%%@@-         ....  @%###%%%%%%%%%%@@
###**##=-:--@@%#%##########-::-==--*%###%@+  .    ...... :@%%%%%%%%%%%%%%@@
##%**#*-:.. =@%%%%#######%*-::-====*%###%@#: ........... =@%%%%%%%%%%%@@@@@
##%*+*#+:..  =@@@@%%%####%%#=----=*%%##%%@#- ...-:...... *@%%%%%%%%%%%%@@@@
##@#***#+:.   :+**#%%#####%@%*=+++%%%#=#%@#.   ..=: .... @@%%%#%%%%%%%@@@@@
##%%%#*##*+=:.  .:-#%#####%%%%#@#*%###:=#%%+:.:+: -.... +@%####%%%%%%%%%%@%
%#####**####**+=+=-=%#######%%%%%######*#%%%%*%:       .@%#######%%%%%%%%@%
%#%##%#*******+++==:+%###################%%@@@@@%*##=  *@%#######%%%%%%%@@%
%%@%@@%****+++++++*+*######################%@@%@@@@@@+.@@########%%%%%%%%@%
%%@@@@@#**+++***#%%%%###############*=#**++*#*=: .=@*.-@%#########%%%%%%%%%
%%@@@@%*###%%@@%@%%%%#*%##########+#*#%#*-         -- #@%#########%%%%%%%%%
%#%@@@%#@@@@@@%%%%####-*%#########=+#%#%%#=+*+     .:+@%###########%%%%%%%%
%%%%%@%@@@@%%%%######%=:*%###########++*#**%**.  . . #@%###########%%%%%%%%
%%%%%%%@@%%%%%%######%*:.+%%###*######+:-::--:..:==  :%############%%%%%%%%
%%%%%%%%%%%%%%%#######%=  :+#%%#######%**#------:=:  .#%############%%%%%%%
%#%%%%%%%%%%%%#######%%#.   .=+*#%%%%##*#**====-+:   .#%############%%%%%%%
%%%%%%%%%%%%%%%########@+:   . ..:=-*%%%**=+++-:      +%############%%%%%%%
%%%%%%%%%%%%%%%########%%+--:.       .-*+--*=.        :%%############%%%%%%
%%%%%%%%%%%%%%%#########%%=--:.   -=  .:.+=           .#%############%%%%%%
%%%%%%%%%%%%%%###########%#--=-:. @@#==--::-           +@#############%%%%%
%%@@%%%%%%%%%%############%*:-==- %@@#----..:      .   :@%############%%%%%
%%%@%%%%%%%%%%#############%*-. :.-@%+:----             %%############%%%%%
%%%%%%%%@%%%%###############@#-:   -@%+----             #%############%%%%%
%%%%@%%%@%%%%%###############%%=-.  =@%*=--.            +%############%%%%%
%%%%@%%%%%%%%%%###############%%=-   -**+==-      .     =%#############%%%%
%%@%%%%%%%%%%%#################%%=.   -**+==-       .   -%#############%%%%
%%%%%%%%%%%%%%###########***####%%+   ++==--++-         :#############%%%%%
%%@%%%%%%%%%%%%#########*#***####%@+: #=+=:-=++-        .##############%%%%
%%@%%%%%%%%%%%##########*##*##*###%@*=#-+---===-   ...   *#############%%%%
%%@%%%%%%%%%%%#############**#**###%%+#=:--:===-.   ..   +############%%%%%
%%@@%@%%%%%%%%%###########***###**####+:----====:.   .   =#############%%%%
%%@@@@%%%%%%%%%%############*##########+---.:=-==:  ...  -*###########%%%%%
%%%%%%%%%%%%%########********************=--::.--:.      :+*###############
*/
$theme-colors: (
  "leeuw": #ee7d11
);

$enable-rounded: false;

@import '~bootstrap/scss/bootstrap';
@import '~mdbootstrap/scss/mdb';